/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
npm-debug.log

# compiled resources
/public/css
/public/js
/public/fonts
