@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/alertifyjs/build/css/alertify";
@import "node_modules/alertifyjs/build/css/themes/default";
$fa-font-path: "../fonts/font-awesome";
@import "node_modules/font-awesome/scss/font-awesome";

$palette-red: #ff0000;
$palette-heartred: #ff2c6d;
$palette-green: #2fd127;
$palette-blue: #475bc0;

$palette-youtube: #e62117;
$palette-soundcloud: #f50;

$user-icon-small-size: 48px;
$user-icon-large-size: 200px;

.color-red {
  color: $palette-red;
}

.color-heartred {
  color: $palette-heartred;
}

.color-green {
  color: $palette-green;
}

.color-blue {
  color: $palette-blue;
}

.color-youtube {
  color: $palette-youtube;
}

.color-soundcloud {
  color: $palette-soundcloud;
}

.tabbed-panel {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.favorite-heart:not(.spinner) {
  cursor: pointer;
}

.favorite-heart:not(.spinner) {
  @extend .fa;
  @extend .fa-heart-o;
}

.favorite-heart.checked:not(.spinner) {
  @extend .fa;
  @extend .fa-heart;
  color: $palette-heartred;
}

.spinner {
  @extend .fa;
  @extend .fa-spin;
  @extend .fa-spinner;
  vertical-align: middle;
}

.spinner-large {
  @extend .fa-2x;
}

.profile-right-buttons{
  float: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.user-icon-small {
  width: $user-icon-small-size;
  height: $user-icon-small-size;
}

.user-icon-large {
  width: $user-icon-large-size;
  height: $user-icon-large-size;
}

.track-name {
  padding: 10px 5px 10px 10px;
}

.track-duration {
  @extend .text-muted;
  padding: 10px 15px 10px 5px;
}

.track-remove + .track-duration {
  padding-right: 5px;
}

.track-reorder {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  padding: 10px 4px;
  border-right: 1px solid $list-group-border;

  i {
    opacity: 0.6;
  }
}

.track-remove {
  padding: 10px 15px 10px 5px;
  cursor: pointer;
}

.track-remove:not(.wait):not(:hover){
  @extend .text-muted;
}

.track-remove.wait {
  cursor: auto;
}

.track-remove:hover {
}

.track-reorder:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

div.dyn-block-row {
  white-space: nowrap;

  div.rigid-right {
    float: right;
  }

  div.rigid-left {
    float: left;
  }

  div.fluid {
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

$seek-bar-color: black;
$seek-bar-bg-color: $panel-inner-border;

.seek-bar {
  padding: 4px;
  border: 1px solid $panel-inner-border;
  border-radius: 7px;
  cursor: pointer;

  .bg-bar {
    border: 2px solid $seek-bar-bg-color;
    border-radius: 2px;
  }

  .bg-bar + .fill-bar {
    margin-top: -4px;
  }

  .fill-bar {
    border: 2px solid $seek-bar-color;
    border-radius: 2px;
    position: relative;
  }

  .fill-bar:after {
    content: '';
    background-color: $seek-bar-color;
    width: 0px;
    height: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px;
    transition: all 0.5s;
  }
}

.seek-bar:hover {
  .fill-bar:after {
    width: 16px;
    height: 16px;
    right: -8px;
    top: -8px;
    border-radius: 8px;
    transition: all 0.1s;
  }
}

.scrolly-text {
  overflow: hidden;
  white-space: nowrap;
}

.scrolly-fade-left {
  position: absolute;
  left: 0;
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.scrolly-fade-right {
  position: absolute;
  right: 0;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
