@import url(https://fonts.googleapis.com/css?family=Lato);
$font-family-sans-serif: 'Lato', sans-serif;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/alertifyjs/build/css/alertify";
@import "node_modules/alertifyjs/build/css/themes/default";
$fa-font-path: "../fonts/font-awesome";
@import "node_modules/font-awesome/scss/font-awesome";

.tabbed-panel {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

$palette-red: #ff0000;
$palette-heartred: #ff2c6d;
$palette-green: #2fd127;
$palette-blue: #475bc0;

$user-icon-small-size: 48px;
$user-icon-large-size: 200px;

.color-red {
  color: $palette-red;
}

.color-heartred {
  color: $palette-heartred;
}

.color-green {
  color: $palette-green;
}

.color-blue {
  color: $palette-blue;
}

.favorite-heart:not(.spinner) {
  cursor: pointer;
}


.favorite-heart:not(.spinner) {
  @extend .fa;
  @extend .fa-heart-o;
}

.favorite-heart.checked:not(.spinner) {
  @extend .fa;
  @extend .fa-heart;
  color: $palette-heartred;
}

.spinner {
  @extend .fa;
  @extend .fa-spin;
  @extend .fa-spinner;
  vertical-align: middle;
}

.spinner-large {
  @extend .fa-2x;
}

.profile-right-buttons{
  float: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.user-icon-small {
  width: $user-icon-small-size;
  height: $user-icon-small-size;
}

.user-icon-large {
  width: $user-icon-large-size;
  height: $user-icon-large-size;
}